<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mars Mission Info</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>

  <div class="container-fluid">
    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data!</a></p>
    </div>
      <h3>Mars Hemispheres</h3>
  </div>
  </div>
</body>


  <!-- Creates the Overall Grid -->
  <div class="container-fluid">
    <div class="row">
      <br>
    </div>
    <div class="row">
      <h3>Latest Mars News</h3>
      <div class = "news_title">{{info.news_title}}</div>
      <div class = "news_p">{{info.news_p}}</div>
    </div>
    <div class="row">
      <h3>Mars Facts</h3>
    </div>
    <div class="row">
      <div class="col-1">
        
      </div>
      <div class="col-6">
        <div class="facts_table">
          {{info.facts}}
        </div>
      </div>
    <div class="row">
      <div class="col-1">
          
      <div class="col-6 ">
        <h3>Mars Hemispheres</h4>
        <hr>
        <div class="container-fluid">
          <div class="row">
          
              <img src={{info.hemis[0].img_src}} alt={{info.hemis[0].title}}/>

              <img src={{info.hemis[1].img_src}} alt={{info.hemis[1].title}}/>
          
          </div> 
          <div class="row">
            
            <img src={{info.hemis[2].img_src}} alt={{info.hemis[2].title}}/>
          
            <img src={{info.hemis[3].img_src}} alt={{info.hemis[3].title}}/>

          </div>     
      </div>
    </div>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>
